*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li, body, fieldset, tr, td {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

fieldset {
    border: none;
}

input {
    color: inherit;
    font-size: inherit;
}

button {
    border: none;
}