/* Globals */
$global-font-size: 10px;

/* Colors */
$blue-1: #292d3e;
$blue-2: #212534;
$blue-3: #2b3040;
$blue-4: rgba(0,0,0,.4);
$grey-1: #f2f2f2;
$grey-2: #878787;
$grey-3: #adb0c3;
$green-1: #13e28d;
$yellow-1: #fedc3f;
$white-1: #f0f0f1;
$white-2: #ffffff;