/* Abstracts */
@import "variables";
@import "mixins";

/* Base */
@import "reset";
@import "base";

/* Components */
@import "components";

%button {
    @include font(1.6rem, 700);

    width: 168px;
    height: 58px;
    background-color: $green-1;
    border: none;
    border-radius: 3px;
    color: $white-1;
    text-transform: uppercase;
    cursor: pointer;
}

.app {
    @include position(absolute, 0, 0, 0, 0);

    background-color: $blue-1;
}

.box {
    @include box;

    display: flex;
    flex-direction: column;
    width: 600px;
    height: 560px;
    border-radius: 5px;
    color: $white-1;
    background-color: $blue-2;

    &-head {
        background-color: $blue-3;
    }
}

.create {
    height: 100%;
    font-size: 1.6rem;

    &-form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-name {
        height: 115px;
        background-color: $blue-3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-class {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    &-controls {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    &-control {
        @extend %button;
    }
}


%label {
    
}

.label {
    &-name {
        text-transform: uppercase;
    }

    &-class {
        &:nth-of-type(2) {
            margin-left: 20px;
        }

        cursor: pointer;
    }
}

%input {
    width: 275px;
    height: 56px;
    border-radius: 5px;
    background-color: $white-1;
    color: $blue-1;
    padding: 10px;
}

.input {
    &-name {
        @extend %input;

        margin-left: 20px;
    }

    &-class {
        @include visually-hidden;

        &:checked + .label-class .hero-image-wrapper::before  {
            width: 150px;
            transition: width .3s ease-in-out;
        }
    }
}

.heroes {
    display: flex;
}

.hero {
    width: 100%;

    & + & {
        margin-left: 30px;
    }

    &-info {

    }

    &-image {
        &-wrapper {
            position: relative;
            padding: 30px 0;
            text-align: center;
            width: 200px;
            height: 200px;
            overflow: hidden;
            display: flex;
            justify-content: center;

            &::before {
                @include position(absolute, 0, auto, atuo, 50%);

                content: "";
                display: inline-block;
                height: 3px;
                width: 0px;
                background-color: $white-1;
                transform: translateX(-50%)
            }
        }
    }

    &-property {
        @include font(2.4rem, bold);

        color: $yellow-1;
    }

    &-value {
        @include font(2.8rem, 300);

        padding-left: 10px;
    }
}

.prompt {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.6rem;

    &-content {
        color: $grey-3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &-controls {
        background-color: $blue-3;
        height: 115px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-control {
        @extend %button;
    }
}

.card {
    @include box;

    height: 510px;
    width: 350px;
    display: flex;
    flex-direction: column;

    &-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        color: $white-2;
        text-align: center;
    }

    &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &-bg {
            @include position(absolute, 0, 0, 0, 0);

            filter: grayscale(.7);

            /* TODO: refactor */
            &-hero {
                background: linear-gradient(to right, rgba(0, 25, 115, .65)), url('../img/fight-hero.jpeg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-mob {
                background: linear-gradient(to right, rgba(0, 25, 115, .65)), url('../img/fight-mob.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    
    }

    &-title {
        @include font(3.2rem, 300);

        z-index: 2;
        margin-top: 40px;
    }

    &-subtitle {
        @include font(1.4rem, 400);

        text-transform: uppercase;
        margin-top: 5px;
        z-index: 2;
    }

    &-image {
        position: relative;
        flex-grow: 1;
        background-color: #fff;

        &-inner {
            @include position(absolute, 0, auto, auto, 50%);

            max-width: 200;
            max-height: 230px;
            transform: translate(-50%, -75%);
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        background-color: $grey-1;
        height: 74px;
    }

    &-stats {
        display: flex;
        justify-content: space-evenly;
        flex-basis: 100%;
        align-items: center;
        color: $grey-2;
    }

    &-stat {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
        }

        &-title {
            font-size: 14px;
        }

        &-value {
            font-size: 18px;
            font-weight: 900;
        }

        &-hp {
            &::before {
                @include icon-heart(30px, 30px);
            }
        }

        &-dmg {
            padding-left: 50px;

            &::before {
                @include icon-damage(40px, 40px);
            }
        }

        &-moral {
            &::before {
                @include icon-award(30px, 30px);
            }
        }
    }
}

.arena {
    @include scene;

    display: flex;
    justify-content: space-between;
    width: 600px;

    &-fighter {
        position: relative;
    }
}

.attack {
    @include icon-attack(50px, 50px);

    width: 100px;
    height: 100px;
    cursor: pointer;
}

