/* Abstracts */
@import "variables";
@import "mixins";
/* Base */
@import "reset";
@import "base";

%button {
    @include font(1.6rem, 600);

    width: 168px;
    height: 58px;
    background-color: $green-1;
    border: none;
    border-radius: 3px;
    color: $white-1;
    text-transform: uppercase;
    cursor: pointer;
}

.app {
    @include position(absolute, 0, 0, 0, 0);

    background-color: $blue-1;
}

.box {
    @include position(absolute, 50%, auto, auto, 50%);

    display: flex;
    flex-direction: column;
    width: 600px;
    height: 540px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: $white-1;
    background-color: $blue-2;
    box-shadow: $blue-4;

    &-head {
        background-color: $blue-3;
    }
}

.create {
    height: 100%;
    font-size: 1.6rem;

    &-form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-name {
        height: 115px;
        background-color: $blue-3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-class {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    &-controls {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    &-control {
        @extend %button;
    }
}



%label {
    
}

.label {
    &-name {
        text-transform: uppercase;
    }

    &-class {
        cursor: pointer;
    }
}

%input {
    width: 275px;
    height: 56px;
    border-radius: 5px;
    background-color: $white-1;
    color: $blue-1;
    padding: 10px;
}

.input {
    &-name {
        @extend %input;

        margin-left: 20px;
    }

    &-class {
        @include visually-hidden;

        &:checked + .label-class .hero-image-wrapper::before  {
            width: 150px;
            transition: width .3s ease-in-out;
        }
    }
}

.heroes {
    display: flex;
}

.hero {
    width: 100%;

    & + & {
        margin-left: 30px;
    }

    &-info {

    }

    &-image {
        &-wrapper {
            position: relative;
            padding: 30px 0;
            text-align: center;

            &::before {
                content: "";
                display: inline-block;
                background-color: $white-1;
                height: 3px;
                width: 0px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%)
            }
        }
    }

    &-property {
        @include font(2.4rem, bold);

        color: $yellow-1;
    }

    &-value {
        @include font(2.8rem, 300);

        padding-left: 10px;
    }
}

.prompt {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.6rem;

    &-content {
        color: $grey-3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &-controls {
        background-color: $blue-3;
        height: 115px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-control {
        @extend %button;
    }
}

